

body {
    margin: 0;
    padding: 0;

    background-color: #F8FAFC;

    font-family: "Roboto", sans-serif;
}


.login-box {
    padding: 30px;

    background-color: white;

    border: 3px solid #1E293B;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(30, 41, 59, 0.25);
}


.login-box h1 {

    font-family: "Roboto Slab", serif;

    color: #1E293B;

    text-align: center;

    margin-bottom: 10px;

    font-weight: 700;
}



.login-box p {

    /* Roboto Mono para subtítulos */
    font-family: "Roboto Mono", monospace;

    color: #64748B;

    text-align: center;

    margin-bottom: 25px;

    font-size: 14px;
}

.login-box label {

    /* Texto normal */
    font-family: "Roboto", sans-serif;

    color: #1E293B;

    font-weight: 500;
}


.login-box input {

    font-family: "Roboto", sans-serif;

    border: 2px solid #CBD5E1;

    border-radius: 6px;
}



.login-box input:focus {

    border-color: #2563EB;

    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

.login-box .btn-primary {

    /* Roboto para botones */
    font-family: "Roboto", sans-serif;

    background-color: #2563EB;

    border-color: #2563EB;

    font-weight: 700;
}


.login-box .btn-primary:hover {

    background-color: #1E293B;

    border-color: #1E293B;
}


.login-box::before {

    content: "";

    display: block;

    width: 60px;

    height: 5px;

    margin: 0 auto 20px auto;

    background-color: #10B981;

    border-radius: 5px;
}